*{
    margin: 0;
}

header div{
    background-color: rgb(55, 55, 252);
    padding: 1.5em; 
    display: flex;
}

h1{
  margin-left: 220px;
  margin-top: 40px;
}

.navigation{
    background-color: cornflowerblue;
    height: 2.5em;
    text-align: center;
    list-style: none;
    padding: 0.5em;
    border: 2px solid black;
}


button{
    background-color: rgb(125, 127, 223);
    color: bisque;
}

h2 {
    background-color:gainsboro;
    opacity: 0.3;
    width:685px;
    margin-left: 350px;
    height:460px;
    color: black;
    padding: 0.5em;
}

main{
    background-image: url(/media/media/img/bg.jpg);
    height: 50%;
    
}

.liste {
    background-color: rgb(213, 255, 150);
    width: 700px;
    margin-left: 350px; 
    /* margin-top: 300px; */
}

footer{
    background-image: url(/media/media/img/bg.jpg);
    height: 300px;
}

.fc{
    background-color: cornflowerblue;
    height: 20px;
}

